<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642433436892-p2no6a1qfv3uloiac9g4iifrh649pej8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642433436892-p2no6a1qfv3uloiac9g4iifrh649pej8</string>
	<key>API_KEY</key>
	<string>AIzaSyBQc-YeaHgpmH-KDSW-GHOAsY_y0CXNLlA</string>
	<key>GCM_SENDER_ID</key>
	<string>642433436892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rentel.PasswordlessFirebase</string>
	<key>PROJECT_ID</key>
	<string>passwordlessfirebase-eb105</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordlessfirebase-eb105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642433436892:ios:e391f54ea98434434af819</string>
</dict>
</plist>